.zaui-routes-item{
    padding: 10px !important;
}
.zaui-text-title-small{
    float: left;
}
.zaui-routes{
    background-color: rgb(233, 234, 236) !important;
    
}
.plc-action{
    background-color:  rgb(233, 234, 236) !important;
}
.call-admin{
    background: #fff !important;
    color: #8861bb;
    width: 100%;
    border-radius: 5px;
    height: 100px;
}
.link-admin{
    display: flex;
    align-items: center; 
    flex-direction: row-reverse; 
}
.text-success{
    font-size: 14px;
    padding: 10px;
    margin-right: 10px; 
    color: #333;

}
.text-title{
    color: #8861bb;
    font-weight: bold;
}
.icon-admin{
   margin-left: 10px;
   font-size: 70px;
    margin-top: 15px; 
    color: #30c840;

}
/* register  */
.call-register {
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }
  
  .form-register {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #8861bb;
    background-color: #fff;
    width: 100%;
    height: 90px;
    border-radius: 5px
  }
  .icon-left{
    margin-right: 170px !important;
  }
  .icon-left,
  .icon-right {
    display: flex;
    flex-direction: column;
    align-items:center;
    margin: 0 8px; 
  }
  
  .icon-user,
  .icon-register {
    font-size: 40px;
    color: #30c840;
  }
  
  .text-icon {
    margin: 0; 
    text-align: center; 
    color: #333;
  }
  .text-detail{
    font-weight: 200;
    text-align: left;
    width: 100%;
  }
  .checked{
    background-color:#dac0fd ;
    color: #181616;
    border-radius: 5px
  }